<h1>Do promise</h1>

<div id='dialog' title="Do promise">
  <form>
  <fieldset>
    <p><label for="goal">Your Goal is...</label></p>
    <p><input type="text" name="goal" id="goal" value="" class="text ui-widget-content ui-corner-all" /></p>
    <p><label for="when">When?</label></p>
    <p><input type="radio" name="when" id="when" value="Morning" class="text ui-widget-content ui-corner-all" />Morning
    <input type="radio" name="when" id="when" value="Afternoon" class="text ui-widget-content ui-corner-all" />Afternoon
    <input type="radio" name="when" id="when" value="Evening" class="text ui-widget-content ui-corner-all" />Evening</p>
    <p><label for="howlong">How Long?</label></p>
    <p><input type="text" name="howlong" id="howlong" value="" class="text ui-widget-content ui-corner-all" />Minutes</p>
  </fieldset>
  </form>
</div>

<div id='calendar'></div>

<% content_for :js_ready do %>

  var when = $("#when"),
      goal = $("#goal"),
      howlong = $("#howlong"),
      allFields = $([]).add(when).add(goal).add(howlong);
  $('#dialog').dialog({autoOpen: false});

  var calendar = $('#calendar').fullCalendar({
    header:{
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    selectable: true,
    selectHelper: true,
    select:
      function(start, end, allDay){
        $('#dialog').dialog('open');
        $('#dialog').dialog({
           height: 420,
           width: 400,
           modal: true,
           buttons: {
             Cancel: function() {
               $(this).dialog('close');
             },
             'OK': function(){
               if (goal.val()){
                 $.getJSON("/dopromise" , {
                   "title" : goal.val(),
                   "when" : when.val(),
                   "howlong" : howlong.val(),
                   "start" : start+"",
                   "end" : end+"",
                   "allDay" : allDay
                 },function(json){
                  calendar.fullCalendar('renderEvent',{
                    id:json[0],
                    title: json[1],
                    start: json[2],
                    end: json[3],
                    allDay: json[4]
                  },
                  false);
                })
               }
               $(this).dialog('close');
             }
           },
           close: function() {
             allFields.val('').removeClass('ui-state-error');
           }
        });
        calendar.fullCalendar('unselect');
      },
      events:"/loadpromise",
      eventClick: function(calEvent, jsEvent, view){
        $(this).css('border-color', 'red');
      }

  });
<% end %>
