.main{
  margin : 10px;
  width: 100%;
  min-height: 370px;
}
.sign_in{
  border : thin solid #707070;
  margin : 100px  auto auto auto;
  display : block;
  text-align: right;
  line-height : center;
  width : 41%;
  height : 40%;
  color : #707070;
  font-size: 150%;
  font-weight: bold;
  padding : 10px 25px;
}

.sign_up{
  border : thin solid #707070;
  display : block;
  margin : 10px auto auto auto;
  text-align: left;
  line-height : center;
  padding : 30px;
  width : 40%;
  height : 40%;
  color : #707070;
  font-size: 150%;
  font-weight: bold;
}

.sign_up div{
 margin-bottom : 10px;
}

.sign_up_title{
  border : thin solid #707070;
  display : block;
  margin : 20px auto auto auto;
  text-align: left;
  line-height : center;
  padding : 10px 30px;
  width : 40%;
  color : #707070;
  font-size: 200%;
  font-weight: bold;
}

.edit{
  padding : 20px;
  margin : 20px;
  padding-top : 10px;
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

body {
  margin: 0px 15px;
  padding: 0px;
  background-color: #FFFFFF;
}

#header {
  margin: auto 10%;
  width: 80%;
  height: 100%;
  border-bottom: 1px solid #CCCCCC;
}
.lead {
  text-align: right;
  padding-top: 10px;
}

.title{
  text-align: left;
  font-size: 1cm;
  font-weight: bold;
  letter-spacing:5px;
  margin: 60px 0px 0px 0px;
  background : #E6F9B9;
  padding-top:40px;
  margin-top : 0px;
  margin-bottom:10px;
}

#line {
  margin-bottom : 0px;
  clear: both;
  text-align: right;
  padding-top: 10px;
  background : #FAFAD2;
  border-top: 1px solid #CCCCCC;
}

.content{
  text-align: left;
  margin-left : 190px;
  margin-right : 22%;

}
.column {
  margin: auto 10%;
  width: 80%;
}

#navi {
  width: 180px;
  float: left;
  font-size: 14pt;
}

#navi p {
  margin-bottom:1px;
  margin-top:1px;
  border-bottom: 1px solid #CCCCCC;
}
#info {
  float: right;
  width: 20%;
}

.profile{
  background-color : #F08080;
  padding: 10%;
  margin: 10px  0px;
  font-size: 1cm;
  text-align: center;
}

#infotext{
  background-color: #E6F9B9;
  margin: 10px  0px;
  padding: 10px;
}

h2{
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

#infotext p{
  font-size: 12px;
  line-height: 150%;
  margin: 0.5em 1em 1em 1em;
  padding: 0px;
}

/* Navigation */

.navigation {
  margin-bottom:0px;
  background : #FAFAD2;
  white-space: nowrap;
  text-align: right;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
}

.navigation li a {
  font-weight: bold;
}

.navigation li a:hover {
  text-decoration: underline;
}

.fieldWithErrors {
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
.error {
  margin: 80px auto -95px auto;
  padding : 2px;
  text-align: center;
  border-color:#FBC2C4;
  background:#FBE3E4;
  color:#8a1f11;
  width : 43%;
  border : 4px solid;
  padding : 4px;
  font-weight: bold;
}
.success{
  font-weight: bold;
  margin: 5% auto;
  text-align: center;
  background:#E6EFC2;
  color:#264409;
  width : 40%;
  border : 4px solid #FAFAD2;
  padding : 4px;
}

.notice{
  margin: 80px auto -95px auto;
  padding : 2px;
  text-align: center;
  border-color:#FBC2C4;
  background:#FBE3E4;
  color:#8a1f11;
  width : 43%;
  border : 4px solid;
  padding : 4px;
  font-weight: bold;
}
