<h1>All users</h1>

<table>
<% @users.each do |user| %>
   <tr>
    <td><%=h user.school_id %> </td>
    <td><%=h user.name %> </tb>
    <td><%=h user.email %></tb>
   </tr>
<% end %>
</table>

<br />
