<div id='dialog' title="Do promise">
  <div id="accordion">
    <h3><a href="#" style='font-size:14px;'>Promise</a></h3>
    <div>
      <form>
      <fieldset>
        <p><label for="goal"><b>Your Goal is...</b></label></p>
        <p><input type="text" name="goal" id="goal" value="" class="text ui-widget-content ui-corner-all" /></p>
        <p><label for="when"><b>When?</b></label></p>
        <p><input type="radio" name="when" class="when" value="Morning" class="text ui-widget-content ui-corner-all" />Morning
        <input type="radio" name="when" class="when" value="Afternoon" class="text ui-widget-content ui-corner-all" />Afternoon
        <input type="radio" name="when" class="when" value="Evening" class="text ui-widget-content ui-corner-all" />Evening</p>
        <p><label for="howlong"><b>How Long?</b></label></p>
        <p><input type="text" name="howlong" id="howlong" value="" class="text ui-widget-content ui-corner-all" />Minutes</p>
      </fieldset>
      </form>
    </div>
    <h3><a href="#" style='font-size:14px;'>Reflective</a></h3>
    <div><fieldset>
      <p><label for="score"><b>How well did I achieve my good?</b></label></p>
      <p><input type="radio" name="score" class="score" value="1" class="text ui-widget-content ui-corner-all" />1(20%)
        <input type="radio" name="score" class="score" value="2" class="text ui-widget-content ui-corner-all" />2(40%)
        <input type="radio" name="score" class="score" value="3" class="text ui-widget-content ui-corner-all" />3(60%)
        <input type="radio" name="score" class="score" value="4" class="text ui-widget-content ui-corner-all" />4(80%)
        <input type="radio" name="score" class="score" value="5" class="text ui-widget-content ui-corner-all" />5(100%)</p>
      <p><b>What happened? Why couldn't I achieve the goal?</b></p>
      <textarea name="happen" id="happen" cols=30 rows=2></textarea>
      <p><b>Possible Improvements</b></p>
      <textarea name="improvement" id="improvement" cols=30 rows=2></textarea>
      </fieldset>
    </div>
  </div>
</div>
