<div id='pdialog' title='commit'>
  <fieldset>
    <p><b>Commit</b></p>
    <div id="evaluations"></div>
    <textarea name="evaluation" id="evaluation" cols=30 rows=4></textarea>
  </fieldset>
</div>
