<div id="tabs">
  <ul>
   <li><a href="#tabs-1" style='font-size:14px;'>Do promise</a></li>
   <li><a href="#tabs-2" style='font-size:14px;'>Partner's status</a></li>
  </ul>
  <div id="tabs-1">
    <div id='mycalendar'></div>
  </div>
  <div id="tabs-2">
      <table width='100%'>
      <tbody><tr>
        <td width='80%'><div id='gcalendar'></div></td>
        <td><div id='partner'><fieldset>
          <h2>Your partner : <h2>
          <% if  !Relationship.find_by_user_id(current_user.id).nil?%>
            <% @partner.each do |p| %>
              <% if p.user_id!=current_user.id  %>
                <input type="radio" name="user" class="user" value=<%=h p.user_id%> class="text ui-widget-content ui-corner-all" /><%=h User.find(p.user_id).name%><br/>
              <% end %>
            <% end %>
          <% end%>
         </fieldset></div></td>
       </tr></tbody>
       </table>
  </div>
</div>
