<div id="info">
    <div class = 'profile'>Profile</div>

    <div id="infotext">
      <h2><a href="#">TEST2</a></h2>
      <p>2007OH<br />
        aldfa; l;adfadfada </p>

      <h2><a href="#">TEST1</a></h2>
      <p>2007 HI<br />
       a;skdlfja;dlkfja; lkdadfadf</p>
</div>
