<div id="info">
    <div class = 'profile'>Profile</div>

    <div id="infotext">
      <h2><a href="#">TEST2</a></h2>
      <p>2007 OH<br />
        today is lovely day.</p>

      <h2><a href="#">TEST1</a></h2>
      <p>2007 HI<br />
        It's rain a lot.</p>
</div>
