<div id="info">
    <div class = 'profile'>News</div>

    <div id="infotext">
      <h2><a href="#">TEST2</a></h2>
      <p>2007 OH<br />
        news 1</p>

      <h2><a href="#">TEST1</a></h2>
      <p>2007 HI<br />
        news 2</p>
</div>
